.camera_size {
  padding: 100px 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.camera_size_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.camera_size h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 14.35px;
  color: #b9b9b9;
  margin-bottom: 20px;
}

.camera_size h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
  color: #2d3339;
}


@media (max-width: 1399px) {
    .camera_size img {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .camera_size {
        padding: 40px 15px;
    }
    .camera_size h2 {
        font-size: 30px;
        line-height: 30.75px;
      }
  
}
